body {
    margin: 20px;
    font-family: Courier New, Courier, monospace;
    background-image: url("images/background.jpg");
    background-size: cover;
}

.avatar {
    width: 150px;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #dfa162;
    color: #2b2839;
    border-bottom: 6px solid #8b6a2b;
    border-radius: 25px;
}

#quote {
    text-align: center;
}

.story {
    text-align: center;
    padding: 20px;
}

