body {
    margin: 20px;
    font-family: Courier New, Courier, monospace;
    background-color: skyblue;
}

.avatar {
    width: 150px;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #faf0ca;
    color: #2b2839;
    border-bottom: 6px solid #f4d13e;
    border-radius: 25px;
}

.quote {
    text-align: left;
    padding: 20px;
}

